/* meet the team container */

.meet_the_team_container {
  padding: 30px 50px 30px 50px;
  background: linear-gradient(115deg, #111a42 10%, #f49d36 280%);
  height: auto;
}
.meet_the_team_head {
  display: flex;
  color: white;
  gap: 20px;
}
.button_img {
  height: 20px;
  margin-top: 2px;
}
.meet_the_team_heading {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Kufam";
  font-weight: 700;
}
.meet_the_team_right_content {
  width: 65%;
  font-size: 20px;
  font-family: "Lato";
}

.medical_expert_heading {
  font-family: "Kufam";
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  color: white;
  margin-left: 80px;
}

/* team members style */

.team_members_image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  place-items: center;
}
.medical_expert_image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  place-items: center;
}
.team_member_container {
  color: white;
  position: relative;
  cursor: pointer;
}

.team_member_image {
  height: 190px;
  width: 190px;
  margin: 20px 0px;
}
.team_member_description {
  width: 190px;
  height: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 13px;
  right: -60px;
  background: white;
  color: black;
  border-radius: 5px;
  z-index: 10;
}
.team_member_name {
  margin: 0;
  padding: 0;
}
.team_member_name {
  font-size: 11px;
  font-family: "Kufam";
  align-content: center;
  font-weight: 700;
}
.team_member_position {
  font-size: 10px;
  font-family: "Kufam";
  font-style: italic;
  align-content: center;
  margin: 0;
}

.team_member_card_detail {
  margin: 15px 20px;
  padding: 9px;
  color: white;
  border: 2px solid #ffb037;
  border-radius: 10px;
}
.team_member_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_member_card_description {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 20px;
}
.team_member_card_image {
  width: 30%;
}
.team_member_card_links {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

/* media query mobile */

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .team_members_image {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .team_members_image::-webkit-scrollbar {
    display: none;
  }

  .team_member_description {
    display: none;
  }

  .meet_the_team_head {
    display: flex;
    flex-direction: column;
  }

  .meet_the_team_right_content {
    width: auto;
  }

  .meet_the_team_heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .meet_the_team_heading > p {
    font-size: 17px;
  }

  .team_member_card_detail {
    width: 100%;
    margin: 1px;
    padding: 1px;
  }

  .team_member_card_container {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    /* padding: 1px 1px; */
    height: auto;
    align-items: center;
  }

  .person_name_desc {
    font-size: 12px;
    width: 105%;
  }

  .person_name {
    font-size: 14px;
  }

  .medical_members {
    display: none;
  }

  .team_member_card_links {
    display: none;
  }
}

/* media query tablet */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .team_members_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .team_member_card_detail {
    padding: 15px;
  }

  .medical_members {
    display: none;
  }

  .meet_the_team_head {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
  }

  .meet_the_team_right_content {
    width: 100%;
    font-size: 20px;
    font-family: "Lato";
  }

  .meet_the_team_heading > p {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

/* 4k large screen */

@media only screen and (min-width: 2560px) {
  .meet_the_team_right_content {
    margin-top: 10px;
    font-size: 30px;
  }

  .team_member_image {
    height: 220px;
    width: 220px;
    margin: 23px 0px;
  }

  .medical_expert_heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 200px;
    font-size: 40px;
  }
}
